.jumbotron {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-bottom: 20px !important;
}

.modal-body li {
    word-wrap: break-word;
}

.modal-body h4 {
    word-wrap: break-word;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.highlight {
    background-color: lightblue !important;
}

.img-fluid {
    max-width: 100%;
    height: auto
}