<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Banano Sports Pools</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.1/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <link rel="icon" type="image/ico" href="../../../static/assets/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Buttons -->
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.bootstrap4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>

    <script src="../../../static/js/tip.js"></script>
    <script src="../../../static/js/history.js"></script>
    <script src="../../../static/js/mlb/mlb_history.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/"><img src="../../../static/assets/banano.png" height="50px" width="50px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div style="display: inline-block;margin-left: 10px;">
            <select class="form-control" id="themeSelect">
                <option value="yeti" selected>Light</option>
                <option value="darkly">Dark</option>
                <option value="slate">Slate</option>
                <option value="cyborg">Cyborg</option>
                <option value="solar">Solar</option>
                <option value="minty">Minty</option>
                <option value="lumen">Lumen</option>
                <option value="pulse">Purple</option>
                <option value="zephyr">Breezy</option>
                <option value="lux">Classy</option>
                <option value="spacelab">Sleek</option>
                <option value="sketchy">???</option>
            </select>
        </div>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sports/html/mlb/mlb_pools">MLB Pools</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/sports/html/mlb/mlb_history">MLB History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sports/html/mlb/mlb_payouts">MLB Payouts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sports/html/mlb/mlb_leaderboards">MLB Stats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/roadmap">Roadmap</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="my-auto">
        <div class="container-fluid jumbotron">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Deposit History</h1>
                    <p>If you have verified your BAN address, your historical deposits should be highlighted below.</p>
                </div>
            </div>
        </div>
        <div class="card border-primary mb-3 mx-auto" style="max-width: 40rem;">
            <div class="card-header">Filters</div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex flex-column">
                                <label class="col-form-label" for="season_inp">Season:</label>
                                <div style="clear: both;"></div>
                                <select id="season_inp">
                                    <option value="2023" selected>2023</option>
                                </select>
                            </div>
                            <div class="d-flex flex-column">
                                <label class="col-form-label" for="week_inp">Match Round</label>
                                <select id="week_inp">
                                    <option value="Wildcard" selected>Wildcard</option>
                                    <option value="Division Series">Division Series</option>
                                    <option value="Championship Series">Championship Series</option>
                                    <option value="World Series">World Series</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-column">
                                <label class="col-form-label" for="min_ban">Min. BAN</label>
                                <input type="number" id="min_ban" name="min_ban" min="0" value="0" step="10">
                            </div>
                            <div class="d-flex flex-column">
                                <label class="col-form-label" for="max_ban">Max. BAN</label>
                                <input type="number" id="max_ban" name="max_ban" min="0" value="1000" step="10">
                            </div>
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary" id="filter">Query Database!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="color:lightgray; border-width: 3px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table id="sql_table" class="table table-hover table-bordered table-striped text-center">
                    <thead>
                        <tr>
                            <th>Match Round</th>
                            <th>Game ID</th>
                            <th>Chosen Team</th>
                            <th>Ban Address</th>
                            <th>Deposit Amount</th>
                            <th>Date</th>
                            <th>Block</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <hr style="color:lightgray; border-width: 3px;">
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-md-10 text-center">
                <h5>What the fork is BANANO?</h5>
                <p>BANANO was forked in April 2018 from NANO. BANANO offers instant, feeless and rich in potassium 🍌 transactions, thanks to the fact that BANANO developers (several of them having being involved in NANO itself) have kept big portions of the original
                    code unchanged to keep cross-chain compatibility between existing code libraries. However, they have fined-tuned some parameters, such as Proof of Work requirements and currency units. While the focus for now is on having an ongoing free and
                    fair distribution, BANANO is also experimenting with feature additions such as a privacy layer (Camo BANANO), on-chain messaging (MonkeyTalks) and more. In context of distribution, we aim to use our meanwhile ready-to-strike infrastructure
                    with easy-to-use mobile wallets (Kalium) and tipbots on several major social media platforms to onboard normies and crypto-noobs who have no idea yet what a cryptocurrency is. We also might do IRL airdrops at some point. Of note, key here
                    is to make the start with crypto as easy as possible, use a fun attitude and gamification to get new users started without all the usual hassle, and then educate them to handle crypto in general in a responsible way.</p>
                <a href="https://banano.cc/" target="_blank">Check out more about Banano and get a wallet address here!</a>
            </div>
            <div class="col-md-2 text-center align-items-center">
                <div class="tip">
                    <h5>Donations 🍌:</h5>
                    <div id="tip_qrcode"></div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <p>Data Sourced From <a href="https://gist.github.com/nntrn/ee26cb2a0716de0947a0a4e9a157bc1c" target="_blank">ESPN's APIs</a></p>
            </div>
            <div class="col-md-8">
                <p style="display: inline;">Made with 🍌 by elementalennui.
                    <ul style="list-style-type: none; display: inline;">
                        <li style="display: inline;"><a href="https://github.com/elementalennui-dev/banano-sports-pools/tree/main" target="_blank">Github |</a></li>
                        <li style="display: inline;"><a href="https://twitter.com/elementalennui/" target="_blank">Twitter |</a></li>
                        <li style="display: inline;"><a href="https://www.reddit.com/user/elementalennui" target="_blank">Reddit |</a></li>
                        <li style="display: inline;">Discord: elementalennui</li>
                    </ul>
                </p>
            </div>
        </div>
    </footer>
    <br>
</body>

</html>
